@model Xyz.Models.Part

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Part</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DetailsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
